.main-section{
    background-color: #3C40C6;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #0FBCF9;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgBlack{
    background-color: #000;
}

.main-section.-bdBlack{
    border-color: #000;
}