.main-carousel{
    position: relative;
    padding: 0 80px;
}

.main-carousel .button-arrow{
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}

.main-carousel .button-arrow.-left{
    position: absolute;
    left: 15px;
}

.main-carousel .button-arrow.-right{
    position: absolute;
    right: 15px;
}