.node-card{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.node-card::before{
    content: '';
    box-sizing: border-box;
    transform: translateY(205%);
    height: 40px;
    border: 2.5px dashed #000;
}

.node-card .title{
    font-family: "Press Start 2P", sans-serif;
    color: #FFF;
    font-size: 25px;
    margin-bottom: 50px;
}

.node-card .logo{
    display: flex;
    align-items: center;
    height: 140px;
    border: 5px solid #000;
    padding: 0px 20px;
    background-color: #CEB02A;
}

.node-card.-clean .logo{
    padding: 0;
}

.node-card.-cian .logo{
    background-color: #0FBCF9;
}